@import '../../styling/colors.scss';

%p-shared {
  font-size: 17px;
  font-weight: 500;
}

.alertItemContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #3333;
  margin: 1px 10px 10px 10px;
  padding: 12px 10px 12px 10px;
  animation: flipInX 0.5s ease-in;
}

p {
  margin: 1px;
}

.Confirmed {
  @extend %p-shared;
  color: $red;
}

.Suspected {
  @extend %p-shared;
  color: $yellow;
}

.Safe {
  @extend %p-shared;
  color: $green;
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
