.navbar_container {
  width: calc(100% - 40px);
  height: 60px;
  padding: 5px 20px;
  background-color: #25be8b;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar_title {
  color: #23052e;
  font-size: 30px;
  margin: auto;
}
