.navbar_container {
  width: calc(100% - 40px);
  height: 60px;
  padding: 5px 20px;
  background-color: #46AF8F;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index:3;
}

.navbar_title {
  width: 80%;
  color: #23052e;
  font-size: 30px;
  margin: auto;
}
