@import '../../styling/colors.scss';

.container_locations {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.locations_subtitle {
  margin-top: 20px;
  font-size: 20px;
}

.locations_subtitle_text {
  font-size: 20px;
}

.locations_map {
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

.container_locations_data {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  overflow-y: auto;
  text-align: center;
}

.locations_data_text {
  height: 100px;
}

.locations_data_alerts {
  padding: 0px $ruler;
}

.locations_data_alerts_text_confirmed {
  color: red;
}

.locations_data_alerts_text_suspected {
  color: yellow;
}

.locations_actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.locations_button_container {
  margin-top: 50px;
}
