.form-container {
  width: 100%;
  height: 70%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-wrapper {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 80%;
}

.page-wrapper {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin: 0 auto;
  height: 100%; 
  width: 100%;
  min-height: 250px;
  max-width: 700px;
}

.button-container {
  margin: auto; 
  margin-top: 20px;
  width: 200px;
}