%styles-unchecked-shared {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  cursor: pointer;

  &:hover {
    color: #296654;
    border: 2px solid #2f7560;
    background-color: transparent;
  }
}

%styles-checked-shared {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: black;
  background-color: white;
  cursor: pointer;
  border-style: solid;
  border-width: 5px;
  
  &:hover {
    color: #296654;
    border: 2px solid #2f7560;
    background-color: transparent;
  }
}

.circleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30;
}

.number {
  text-align: center;
}

.confirmedUncheckedStyles {
  background-color: #c71f1f;
  @extend %styles-unchecked-shared;
}

.suspectedUncheckedStyles {
  background-color: #d8db1e;
  @extend %styles-unchecked-shared;
}

.safeUncheckedStyles {
  background-color: #3bceac;
  @extend %styles-unchecked-shared;
}

.confirmedCheckedStyles {
  border-color: #c71f1f;
  @extend %styles-checked-shared;
}

.suspectedCheckedStyles {
  border-color: #d8db1e;
  @extend %styles-checked-shared;
}

.safeCheckedStyles {
  border-color: #3bceac;
  @extend %styles-checked-shared;
}
