%styles-unchecked-shared {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  cursor: pointer;

  &:hover {
    color: #296654;
    border: 2px solid #2f7560;
    background-color: transparent;
  }
}

%styles-checked-shared {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: black;
  background-color: white;
  cursor: pointer;
  border-style: solid;
  border-width: 5px;
  
  &:hover {
    color: #296654;
    border: 2px solid #2f7560;
    background-color: transparent;
  }
}

p {
  font-size: 15px;
  font-family: 'Montserrat';
  margin-left: 10px;
  text-align: center;
}

.circleContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.alert_text {
  align-self: flex-end;
  justify-self: flex-end;
}

.number {
  text-align: center;
}

.confirmed-unchecked-styles {
  background-color: #c71f1f;
  @extend %styles-unchecked-shared;
}

.suspected-unchecked-styles {
  background-color: #d8db1e;
  @extend %styles-unchecked-shared;
}

.safe-unchecked-styles {
  background-color: #3bceac;
  @extend %styles-unchecked-shared;
}

.confirmed-checked-styles {
  border-color: #c71f1f;
  @extend %styles-checked-shared;
}

.suspected-checked-styles {
  border-color: #d8db1e;
  @extend %styles-checked-shared;
}

.safe-checked-styles {
  border-color: #3bceac;
  @extend %styles-checked-shared;
}
