$powderblue: #A8DADC;
$brightblue: #2F80ED;
$honeydew: #F1FAEE;
$platinum :#DFE2E2;
$red :#E63946;
$prussianblue :#1D3557;
$lightGray :#DBDBDB;
$lightWarmGray :#f5f5f5;
$darkGrayFont: #2A2A30;
$lightGrayFont: #7B7C86;
$green: #27AE60;
