$ruler: 16px;

$powderblue: #A8DADC;
$brightblue: #2F80ED;
$honeydew: #F1FAEE;
$platinum :#DFE2E2;
$cosmiclatte: #FFF4E4;
$red :#E63946;
$prussianblue :#1D3557;
$lightGray :#DBDBDB;
$lightWarmGray :#f5f5f5;
$darkGrayFont: #2A2A30;
$lightGrayFont: #7B7C86;
$green: #27AE60;
$yellow: #F2C94C;
$redrgba: rgba(230, 57, 70, 0.7);
$yellowrgba: rgba(242, 201, 76, 0.7);
$greenrgba: rgba(39, 174, 96, 0.7);
$prussianbluergba: rgba(29, 53, 87, 0.7);



$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;
$color-button:#61677C;
$color-button-opacity:rgba(97, 103, 124, 0.25);
