@import '../../../styling/colors.scss';

@mixin OpaqueBackground($alpha, $color) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

.inputSt {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  justify-content: center;
  margin: 4px auto;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: $ruler;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;


  input {
    border: 0;
    padding: $ruler/1.25;
    border-radius: $ruler*20;
    outline: none;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
    background-color:$color-bg;
    transition: all 0.2s ease-in-out;
    appearance: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: $ruler/1.25;
    text-shadow: 1px 1px 1px $color-white;

    &:focus {
      box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }

    &.error {
      border: 2px solid #f94144;
      @include OpaqueBackground(0.3, #f94144);
    }
  }

  &.inLine {
    flex-direction: row;
    .label{
      width: 180px;
      text-align: center;
    }
  }
}

.label {
  padding: 5px;
  margin: auto 1px;
  padding-left: 20px;
  margin-bottom: $ruler*1.5;
}

.errorText {
  margin: 3px auto;
  color: #f94144;
  width: max-content;
}
