@import '../../styling/colors.scss';

%circles-shared {
  border-radius: 50px;
  height: 11px;
  width: 11px;
  margin-right: 8px;
  animation: fadeout 2s linear infinite;
  opacity: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.circleOne {
  @extend %circles-shared;
  background-color: $red;
}

.circleTwo {
  @extend %circles-shared;
  background-color: $green;
  animation-delay: 0.75s;
}

.circleThree {
  @extend %circles-shared;
  background-color: $brightblue;
  animation-delay: 1.5s;
}

@keyframes fadeout {
  0%,100% { opacity: 1 }
  50% { opacity: 0 }
}