.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: "center";
}

.layout_page_container {
  position: absolute;
  top: 70px;
  left: 0;
  height: calc(100% - 140px);
  width: 100%;
}
