@import '../../../styling/colors.scss';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.layout_page_container {
  position: fixed;
  margin: 0 auto;
  top: 70px;
  padding: 20px;
  left: 0;
  height: calc(100% - 180px);
  width: calc(100% - 40px);
  overflow-y: auto;
  background-color: $color-bg;
  z-index:1;
}
