@mixin OpaqueBackground($alpha, $color) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

.inputSt {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  justify-content: center;

  i {
    width: 12px;
    height: 8px;
    position: absolute;
    right: 12px;
    bottom: 24px;
    pointer-events: none;
  }

  select {
    padding: 5px 5px;
    appearance: none;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    background-color: transparent;
    border-radius: 20px;
    font-size: 20px;
    outline: none;
    border: 2px solid #5d7a98;
    padding-right: 15px;
    min-width: 200px;
    background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='black'/></g></svg>")
      no-repeat;
    background-position: right 5px top 50%;

    option {
      margin: auto;
      width: max-content;
    }

    &.error {
      border: 2px solid #f94144;
      @include OpaqueBackground(0.3, #f94144);
    }
  }

  &.inLine {
    flex-direction: row;
  }
}

.label {
  text-transform: uppercase;
  padding: 5px;
  margin: auto 1px;
  padding-left: 20px;
}

.errorText {
  margin: 3px auto;
  color: #f94144;
  width: max-content;
}
