.footer_container {
  display: flex;
  flex-direction: row;
  padding: 5px 20px;
  width: calc(100% - 40px);
  height: 60px;
  justify-content: "center";
  background-color: #3bceac;
  position: absolute;
  bottom: 0;
  left: 0;
}
