body {
  margin: 0;
  font-family: 'Montserrat', 'Saira', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  font-size: 20px;
  color: #313E49;
}

code {
  font-family: 'Lato', source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
}
