# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  lint:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository
      - uses: actions/checkout@v2

      # install dependencies
      - name: Install packages
        run: npm i
        
      # Run linter
      - name: Run the linter
        run: npm run lint
        
      - name: Run tests
        run: npm run test
